@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <h1>TWO CASE STUDIES</h1>

    <p>The purpose of the case studies is to demonstrate the work of the financial counsellor in their support of a client.</p>

    <p>It is up to you to choose at least two case studies. They may</p>
    <ul>
        <li>
            Support advocacy on an <b>issue that has broader systemic issues</b>
        </li>
        <li>
            <b>Showcase the work</b> of your financial counsellor(s)
        </li>
        <li>
            Explain <b>the challenges faced by clients in trying to address their situation</b>
        </li>
        <li>
            <b>It might ‘map the journey’ of a client through the recovery process</b>
        </li>
        <li>
            Highlight the <b>impact to the person who sought support assistance</b>
        </li>
        <li>
            Be written by the <b>client themselves or by the financial counsellor on behalf of</b> the client if that was more appropriate. If so, then maybe ask your client to think back to when he/she came to the financial counselling service and what has been the changes for them as a result.
        </li>
    </ul>

</div>

<div>Make your submission here <a asp-area="" asp-controller="Dossier" asp-action="Index">Submissions</a>. </div>